body {
    margin: 0;
    background: linear-gradient(90deg, #8aa5ff, #4456a5);
    font-family: sans-serif;
}

.card {
    height: auto;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background: linear-gradient(45deg, #25E1D6, #36C4F1, #3C8FF0);
    
    box-shadow: 0 2px 49px 28px #ffffff;
}

.card2 {
    width: 150px;
    height: auto;
    padding: 30px;
    
    background: #ffffff50;
    text-align: center;
    border-radius: 30px;
}

.social {
    text-decoration: none;
}

/* Текст */
.title {
    text-align: center;
    color: #2a2a2a;  
}

.post-title {
    text-align: center;
}

.text {
    text-align: left
}

.textd {
    width: auto;
    margin: 0 auto; 
    text-align: center;
}

.post {
    height: auto;
    margin: 100px;
    padding: 30px;
    
    background: white;
    
    box-shadow: 15px 11px 28px #ffffff;
    border-radius: 60px;
}

/* Про фото */
.photo-logo {
    display: flex;
    width: auto;
    height: 100px;
    border-radius: 10px;
}

.photo-social {
    width: 50px;
    margin-top: 10px;
}




/* Анимация Dinelo_ */
.typewriter h1 {
    color: #fff;
    
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 25px auto;
    margin-left: 25px;
    letter-spacing: .15em;
    animation: 
        typing 2s steps(7, end),
        blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}
